extends layout

block content
  .kitties.kitties--no-overflow
    .kitties-content
      each kitty in kitties
        - var kittyPrice = parseInt(kitty.auction.current_price, 10) / 1000000000000000000

        .kitty
          a(target="_blank" href='https://www.cryptokitties.co/kitty/' + kitty.id)
            img(src=kitty.image_url)
          div= '#' + kitty.id
          div ETH
            = ' '
            span= kittyPrice.toFixed(4)
          div Price $#{(kittyPrice * ethPrice).toFixed(2)}
          div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}
          div Gen #{kitty.generation}
