extends layout

mixin kitty(kitty)
  - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

  .kitty
    a(target="_blank" href='https://www.cryptokitties.co/kitty/' + kitty.kitty.id)
      img(src=kitty.kitty.image_url)
    div= '#' + kitty.kitty.id
    div ETH
      = ' '
      span= kittyPrice.toFixed(4)
    div Price $#{(kittyPrice * ethPrice).toFixed(2)}
    div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}
    div Gen #{kitty.kitty.generation}

block content

  .section
    h2 Least Expensive for Sale

    .kitties
      .kitties-content
        each kitty in saleLeast
          +kitty(kitty)

  .section
    h2 Least Expensive to Sire

    .kitties
      .kitties-content
        each kitty in sireLeast
          +kitty(kitty)

  .section
    h2 Most Expensive for Sale

    .kitties
      .kitties-content
        each kitty in saleMost
          +kitty(kitty)

  .section
    h2 Most Expensive to Sire

    .kitties
      .kitties-content
        each kitty in sireMost
          +kitty(kitty)

  //- .section
  //-   h2 Sales About to End

  //-   .kitties
  .kitties-content
    //-     each kitty in saleEndSoon
    //-       +kitty(kitty)

  //- .section
  //-   h2 Sires About to End

  //-   .kitties
  .kitties-content
    //-     each kitty in sireEndSoon
    //-       +kitty(kitty)
